name: Auto Commit

on:
  schedule:
    - cron: "0 9 * * *"   # 9:00 AM
    - cron: "0 21 * * *"  # 9:00 PM
    
  workflow_dispatch:  # Manual trigger

jobs:
  auto-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: Configure git
        run: |
          git config --local user.email "vijendrasaini@startbitsolutions.com"
          git config --local user.name "Vijendra Kumar Saini"

      - name: Update demo file
        run: |
          echo "Last run: $(date)" >> demo_test.txt    
          
      - name: Check for changes
        id: verify-changed-files
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi
          
      - name: Commit and push changes
        if: steps.verify-changed-files.outputs.changed == 'true'
        run: |
          MESSAGES=("Daily Queue process" "Article Queue update" "Seo update" "Undo changes" "Clean code" "Process update" "New timestamp added")
          MSG=${MESSAGES[$RANDOM % ${#MESSAGES[@]}]}
          git add demo_test.txt
          git commit -m "$MSG: $(date)"
          git push
